[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.104.1"
python-multipart = "==0.0.6"
uvicorn = "*"
sqlalchemy = "==2.0.43"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "uvicorn main:app --reload"